
.airchat-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.subtitle {
    font-size: 28px;
    font-weight: bold;
    color: #3f51b5;
    margin-bottom: 20px;
}

.loading-message,
.error-message {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}

.loading-message {
    color: #007bff;
}

.error-message {
    color: #dc3545;
}

.flight-status-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #7f8c8d; /* 테두리 추가 */

}

.flight-status-table th,
.flight-status-table td {
    border: 1px solid #7f8c8d;
    padding: 8px;
    text-align: center;
}

.flight-status-table th {
    background-color: #3f51b5;
    color: white;
    text-align: center;
}

.flight-status-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.flight-status-table tr:hover {
    background-color: #e0e0e0;
}

.flight-status-table td {
    font-size: 13px;
    color: #555;
}

.flight-status-table td:first-child {
    font-weight: bold;
}

.air-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.air-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.close-air-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;

}

.open-air-modal-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 5px;
}

.open-air-modal-button:hover {
    background-color: #007BFF;
}
