*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/*버튼 초기화*/
button {
    background: none;       /* 기본 배경 제거 */
    border: none;           /* 기본 테두리 제거 */
    color: inherit;         /* 텍스트 색상 상속 */
    cursor: pointer;        /* 커서 포인터로 변경 */
}
/* 이미지 컨테이너 */
.ServiceIntroFrame {
    height: 100vh; /* 전체 화면 높이 */
    width: 100vw;  /* 전체 화면 너비 */
    position: relative;
    overflow: hidden;
}
.service-intro-frame-textbox {
    background: #ffffff;
    width: 1400px;
    height: 340px;
    position: relative;
    overflow: hidden;
}
.ServiceIntroFrame-text {
    color: #ffffff;
    text-align: left; /* 텍스트 가운데 정렬 */
    font-family: "NotoSans-Bold", sans-serif;
    font-size: 36px;
    font-weight: 700;
    position: relative; /* 화면에 고정된 위치 */
    top: 70%; /* 화면 높이의 중간 */
    left: 50%; /* 화면 너비의 중간 */
    transform: translate(-50%, -50%); /* 중앙 정렬을 위한 이동 */
    width: 80%; /* 고정 넓이 설정 */
    max-width: 1130px; /* 최대 넓이 설정 (필요에 따라 조정) */
    text-overflow: ellipsis; /* 텍스트가 넘칠 때 ...으로 표시 */
    overflow: hidden; /* 텍스트 넘침 숨기기 */
    white-space: pre-line;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* 텍스트 애니메이션 */
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
}
.ServiceIntroFrame-text.show {
    opacity: 1;
}

/* 슬라이더 이미지 */
.ServiceIntroFrame-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지 비율을 유지하면서 컨테이너를 꽉 채우기 */
    transition: opacity 1s ease-in-out;
    opacity: 0;
}
.ServiceIntroFrame-image.active {
    opacity: 1;
}
.slide-test-btn-frame {
    width: 400px;
    height: 56px;
    position: relative;
    top:400px;
    left: 200px;
    overflow: hidden;
    z-index: 1; /* 높은 값으로 설정하여 화면에서 가장 위로 표시 */
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.slide-test-btn-frame button.active .slide-btn-01-text,
.slide-test-btn-frame button.active .slide-btn-02-text,
.slide-test-btn-frame button.active .slide-btn-03-text,
.slide-test-btn-frame button.active .slide-btn-04-text,
.slide-test-btn-frame button.active .slide-btn-05-text {
    color: #ffffff; /* 활성화 상태일 때 텍스트 색상 */
}
.slide-test-btn-frame button.active .slide-btn-under-bar {
    background-color: #ffffff; /* Active 버튼에 대한 강조 색상 */
    width: 100%; /* 강조 효과를 위해 바의 너비를 조정 */
}

.slide-btn-01 {
    flex-shrink: 0;
    width: 52px;
    height: 60px;
    position: relative;
    overflow: hidden;
    transition: border-color 0.3s ease, border-width 0.3s ease;
}
.slide-btn-01-text {
    color: rgba(173, 173, 173, 0.75);
    text-align: center;
    font-family: "NotoSans-Bold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    left: calc(50% - 18px);
    top: 0px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); /* 그림자 효과 */
    transition: color 0.3s ease, font-weight 0.3s ease;
}
.slide-btn-under-bar {
    background: rgba(173, 173, 173, 0.75);
    width: 42px;
    height: 3px;
    position: absolute;
    left: calc(50% - 21px);
    top: 43px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
    overflow: hidden;
}
.slide-btn-02 {
    flex-shrink: 0;
    width: 52px;
    height: 60px;
    position: relative;
    overflow: hidden;
    transition: border-color 0.3s ease, border-width 0.3s ease;
}
.slide-btn-02-text {
    color: rgba(173, 173, 173, 0.75);
    text-align: center;
    font-family: "NotoSans-Bold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    left: calc(50% - 18px);
    top: 0px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); /* 그림자 효과 */
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.slide-btn-03 {
    flex-shrink: 0;
    width: 52px;
    height: 60px;
    position: relative;
    overflow: hidden;
    transition: border-color 0.3s ease, border-width 0.3s ease;
}
.slide-btn-03-text {
    color: rgba(173, 173, 173, 0.75);
    text-align: center;
    font-family: "NotoSans-Bold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    left: calc(50% - 18px);
    top: 0px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); /* 그림자 효과 */
    transition: color 0.3s ease, font-weight 0.3s ease;
}
.slide-btn-04 {
    flex-shrink: 0;
    width: 52px;
    height: 60px;
    position: relative;
    overflow: hidden;
    transition: border-color 0.3s ease, border-width 0.3s ease;
}
.slide-btn-04-text {
    color: rgba(173, 173, 173, 0.75);
    text-align: center;
    font-family: "NotoSans-Bold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    left: calc(50% - 18px);
    top: 0px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); /* 그림자 효과 */
    transition: color 0.3s ease, font-weight 0.3s ease;
}
.slide-btn-05 {
    flex-shrink: 0;
    width: 50px;
    height: 60px;
    position: relative;
    overflow: hidden;
    transition: border-color 0.3s ease, border-width 0.3s ease;
}
.slide-btn-05-text {
    color: rgba(173, 173, 173, 0.75);
    text-align: center;
    font-family: "NotoSans-Bold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    left: calc(50% - 18px);
    top: 0px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); /* 그림자 효과 */
    transition: color 0.3s ease, font-weight 0.3s ease;
}
.slide-btn-01:hover .slide-btn-01-text{
    color: white;
}
.slide-btn-01:hover .slide-btn-under-bar{
    background-color: white;
}.slide-btn-02:hover .slide-btn-02-text{
     color: white;
 }
.slide-btn-02:hover .slide-btn-under-bar{
    background-color: white;
}
.slide-btn-03:hover .slide-btn-03-text{
    color: white;
}
.slide-btn-03:hover .slide-btn-under-bar{
    background-color: white;
}
.slide-btn-04:hover .slide-btn-04-text{
    color: white;
}
.slide-btn-04:hover .slide-btn-under-bar{
    background-color: white;
}
.slide-btn-05:hover .slide-btn-05-text{
    color: white;
}
.slide-btn-05:hover .slide-btn-under-bar{
    background-color: white;
}

.text-container {
    position: absolute;
    bottom: 20px; /* 적절한 위치로 조정 */
    left: 50%;
    transform: translateX(-50%);
    color: white; /* 텍스트 색상 조정 */
    font-size: 24px; /* 텍스트 크기 조정 */
    opacity: 0;
    transition: opacity 1s ease-in-out; /* 텍스트 애니메이션 */
}

.text-container.show {
    opacity: 1;
}

.info {
    background-color: red;
    height: 100vh; /* 전체 화면 높이 */
    width: 100vw;  /* 전체 화면 너비 */
    position: relative;
    overflow: hidden;
}