
.service-intro-content,
.service-intro-content * {
    box-sizing: border-box;
}
.service-intro-content {
    background: #ffffff;
    height: 842px;
    position: relative;
    overflow: hidden;
}
.service-intro-content-img {
    width: 700px;
    height: 682px;
    position: absolute;
    left: 380px;
    top: 120px;
    overflow: hidden;
}
